  <body>

    <section class="heroaboutus">
        <header>
            <div class="wrapper">
                <a href="#"><img src="assets/img/logo.png" class="logo" alt="" title=""/></a>
                <a href="#" class="hamburger"></a>
                <nav>
                    <ul>
                        <li><a ui-sref="vinyl">Vinyl</a></li>
                        <li><a ui-sref="about_us">About</a></li>
                        <li><a ui-sref="contact_us">Contact</a></li>
                        <li><a ui-sref="cart" class="cartlogo"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header><!--  end header section  -->

            <section class="caption">
                <h2 class="caption">About Us </h2>
                <h3 class="properties">Not just coders </h3>
            </section>
    </section>

    <!--  end hero section  -->


<!--     <section class="search">
        <div class="wrapper">
            <form action="#" method="post">
                <input type="text" id="search" name="search" placeholder="What are you looking for?"  autocomplete="off"/>
                <input type="submit" id="submit_search" name="submit_search"/>
            </form>
            <a href="#" class="advanced_search_icon" id="advanced_search_btn"></a>
        </div>

        <div class="advanced_search">
            <div class="wrapper">
                <span class="arrow"></span>
                <form action="#" method="post">
                    <div class="search_fields">
                        <input type="text" class="float" id="check_in_date" name="check_in_date" placeholder="Check In Date"  autocomplete="off">

                        <hr class="field_sep float"/>

                        <input type="text" class="float" id="check_out_date" name="check_out_date" placeholder="Check Out Date"  autocomplete="off">
                    </div>
                    <div class="search_fields">
                        <input type="text" class="float" id="min_price" name="min_price" placeholder="Min. Price"  autocomplete="off">

                        <hr class="field_sep float"/>

                        <input type="text" class="float" id="max_price" name="max_price" placeholder="Max. price"  autocomplete="off">
                    </div>
                    <input type="text" id="keywords" name="keywords" placeholder="Keywords"  autocomplete="off">
                    <input type="submit" id="submit_search" name="submit_search"/>
                </form>
            </div>
        </div><!-  end advanced search section  -->
<!--     </section> end search section  -->


    <section class="listings">
        <div class="wrapper">
            <h2>Our Staff</h2>

            <p>The best label in toronto, we started the store with no idea what we were doing.. a bit like this website. We aim to get the best selction of </p>

	            <div class="imageholder">

	              <img src="assets/img/aboutushero.jpg" class="img-responsive" alt="the store"> 

				</div>

					</br>
					</br>
					</br>


            <row>
            		<ul class="list-inline">
            			<li><img src="assets/img/drdre.png" class="img-rounded" alt="Ryan" width="50%"><h2>Ryan</h2></br><p>#Funk #Soul #Rap </p></li>

            			<li><img src="assets/img/yella.png" class="img-rounded" alt="Sunwoo" width="50%"><h2>Sunwoo</h2></br><p>#R&B #Rock #Punk</p></li>

            			<li><img src="assets/img/eazye.png" class="img-rounded" alt="Tim" width="50%"><h2>Tim</h2></br><p>#Country #PopPunk </p></li>

            			<li><img src="assets/img/icecube.png" class="img-rounded" alt="Suzanne" width="50%"><h2>Suzanne</h2></br><p>#EDM</p></li>

            			<li><img src="assets/img/mcren.png" class="img-rounded" alt="Jordan" width="50%"><h2>Jordan</h2></br><p>#House #Techno #Drum&Bass</p></li>

  					<ul>

            </row>
    
        </div>
    </section>    

    <!--  end listing section  -->


	<footer>
		
		<div class="footer">
					
					<ul>
						<li><p>460 King St. West, Toronto, Ontario</p></li>
						<li><a href="mailto:someone@example.com?Subject=Hey%20Ryan%20Whats%20Up" target="_top"><p>info@ryansrecords.com</p></a></li>
						<li><p>Copyright © 2015 Ryan Records All Rights Reserved.</p></li>
						<li><a target="_blank" class="ph_link" ui-sref="auth">Admin</a></li>
					</ul>
		</div>
		
	</footer>

	<!--  end footer  -->
	
</body>