<!-- Add new product -->

<h2>Add New Product</h2>

	<form name="addProduct" class="" ng-submit="ctrl.addProduct()" novalidate>
		<div>
			<label>Category</label>
			<select ng-options="option.value as option.label for option in ctrl.categories" ng-model="ctrl.category" name="category">
			</select>
		</div>
		<div>
			<label>Image Filename</label>
			<input type="text" name="image" ng-model="ctrl.image" required>
		</div>
		<div>
			<label>Name</label>
			<input type="text" name="name" ng-model="ctrl.name" required>
		</div>
		<div>
			<label>Price</label>
			<input type="number" name="price" ng-model="ctrl.price" required>
		</div>
		<div>
			<label>Quantity</label>
			<input type="number" name="quantity" ng-model="ctrl.quantity" required>
		</div>
		<div>
			<label>Description</label>
			<textarea type="text" name="name" ng-model="ctrl.description" required></textarea>
		</div>
		<div>
			<button type="submit" ng-click="ctrl.submitProduct()">Add Product</button>
		</div>
	</form>
