Product Management Page

link to add item
ng-repeat of products (link to edit on each item, link to delete on each item)
logout button





<section id="admin" class="clearfix">

		<h1>Product Management </h1>
		<ul>
			
			<li><a ui-sref="admin.add_product">Add Product</a></li>
			<li><a ng-click="ctrl.logout()">Log Out</a></li>
		</ul>


	<article class="main-content">
		<div ui-view=""></div>
	</article>
</section>





<div>
	<table class="">
		<tr>
			<th>Category</th>
			<th>Image</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Description</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="product in ctrl.products">
			<td>{{product.category}}</td>
			<td>{{product.image}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.quantity}}</td>
			<td>{{product.description}}</td>
			<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
			<td><a ng-click="ctrl.deleteProduct(product)">Delete</a></td>
		</tr>
	</table>
</div>