<section class="heroaboutus">
      <header>
        <div class="wrapper">
          <a href="#"><img src="assets/img/logo.png" class="logo" alt="" title=""/></a>
          <a href="#" class="hamburger"></a>
          <nav>
            <ul>
              <li><a ui-sref="vinyl">Vinyl</a></li>
              <li><a ui-sref="about_us">About</a></li>
              <li><a ui-sref="contact_us">Contact</a></li>

              <li><a href="cart.html" class="cartlogo"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
            </ul>
          </nav>
        </div>
      </header>
​
          <section class="caption">
          <h2 class="caption">Checkout </h2>
          <h3 class="properties">Time to pay us!  </h3>
​
          <!--  end header section  -->
      </section>
  </section>

    
​
        <div class="row">
     
                <div class="checkoutHolderBox col-md-12">
​
                    <table class="table">
                        <tr>
                            <th>Record</th>
                            <th></th></br>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="product in ctrl.products">
                            <td>{{product.name}}</td>        
                            <td><img src="{{product.image}}" width="25" height="25"></td>
                            <td>{{product.price | currency}}</td>
                            <td>
                            <input type="number" value = "1"  style="text-align:center;"/>   
                            </td>
                            <td>{{product.price | currency}}</td>
                            <td align="center">[<a href ng-click="">x</a>]</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn">Add Record</button></td>
                            <td></td>
                            <td></td>
                            <td><b>Subtotal:<b></td>
                            <td><b>$</b></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Taxes @ 13%<b></td>
                            <td><b>$</b><td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>TOTAL DUE:</b></td>
                            <td><b>$</b><td>
                        </tr>
                    </table>
​

            <div class="more_listing">
                <a href="#/checkout" class="more_listing_btn">SUBMIT ORDER</a>
            </div>
              </div>
          
      </div>
    </div>
    
</section>

<footer>
    <div class="wrapper footer">
      <ul>
        <li class="about">
          
          <ul>
            <li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
            <li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
            <li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
            <li><a href="#" class="skype"></a></li>
          </ul>
        </li>
      </ul>
    </div>
z
    <div class="copyrights wrapper">
      Copyright © 2015 <a href="http://pixelhint.com" target="_blank" class="ph_link" title="Download more free Templates">RyansRecords.com</a>. All Rights Reserved.
    </div>
  </footer><!--  end footer  -->

​



<!--             <td><input type="number" ng-model="item.cost" class="input-mini"></td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td>[<a href ng-click="removeItem($index)">X</a>]</td>
        </tr>
        <tr>
            <td><a href ng-click="addItem()" class="btn btn-small">add item</a></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr> -->
   

