
<h1>Your Vinyls</h1>

    <table class="table">
        <tr>
            
            <th>Record</th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="product in ctrl.products">
            <td>{{product.name}}</td>        
            <td><img src="{{product.image}}" width="25" height="25"></td>
            <td>{{product.price | currency}}</td>
            <td>
              <input type="number" value = "1"  style="text-align:center;"/>   
              <button type="button" class="btn" ng-click=""/>+</button>
              <button type="button" class="btn" ng-click=""/>-</button>
            </td>
            <td>{{product.price | currency}}</td>
            <td>[<a href ng-click="">x</a>]</td>
        </tr>
        <tr>
            <td><button type="button" class="btn">Add Record</button></td>
            <td></td>
            <td><b>Subtotal:<b></td>
            <td><b>$</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>Taxes @ 13%<b></td>
            <td><b>$</b><td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>TOTAL DUE:</b></td>
            <td><b>$</b><td>
        </tr>

<!--             <td><input type="number" ng-model="item.cost" class="input-mini"></td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td>[<a href ng-click="removeItem($index)">X</a>]</td>
        </tr>
        <tr>
            <td><a href ng-click="addItem()" class="btn btn-small">add item</a></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr> -->
   