<div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
					<h2>
					Edit Existing Product
					</h2>

				<section class="">

				<div>
					<label>Category</label>
					<select  name="category" ng-options="option as option.label for option in ctrl.categories" ng-model="ctrl.category">
					</select>
				</div>
				<div>
					<label>Image URL</label>
					<input type="text" name="image" ng-model="ctrl.product.image" required>
				</div>
				<div>
					<label>Artist</label>
					<input type="text" name="name" ng-model="ctrl.product.artist" required>
				</div>
					<label>Song</label>
					<input type="text" name="name" ng-model="ctrl.product.song" required>
				</div>
					<label>Label</label>
					<input type="text" name="name" ng-model="ctrl.product.label" required>
				</div>
				<div>
					<label>Price</label>
					<input type="number" name="price" ng-model="ctrl.product.price" required>
				</div>
				<div>
					<label>Quantity</label>
					<input type="number" name="quantity" ng-model="ctrl.product.quantity" required>
				</div>
			<div>
				<button type="submit" ng-click="ctrl.updateProduct()">update</button>
				<button type="submit" ng-click="ctrl.deleteProduct()">delete</button>
			</div>

			</section>
			</div>
		</div>
	</div>
</div>
