<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="#"><img src="assets/img/logo.png" class="logo" alt="" titl=""/></a>
				<a href="#" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="#">Vynil</a></li>
						<li><a href="#">Merchandise</a></li>
						<li><a href="#">Tickets</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<a href="#" class="login_btn">Login</a>
				</nav>
			</div>
		</header><!--  end header section  -->

			<section class="caption">
				<h2 class="caption">we got the music</h2>
				<h3 class="properties">House - Techno - Obscure Shit	</h3>
			</section>
	</section><!--  end hero section  -->


	<section class="search">
		<div class="wrapper">
			<form action="#" method="post">
				<input type="text" id="search" name="search" placeholder="What are you looking for?"  autocomplete="off"/>
				<input type="submit" id="submit_search" name="submit_search"/>
			</form>
			<a href="#" class="advanced_search_icon" id="advanced_search_btn"></a>
		</div>

		<div class="advanced_search">
			<div class="wrapper">
				<span class="arrow"></span>
				<form action="#" method="post">
					<div class="search_fields">
						<input type="text" class="float" id="check_in_date" name="check_in_date" placeholder="Check In Date"  autocomplete="off">

						<hr class="field_sep float"/>

						<input type="text" class="float" id="check_out_date" name="check_out_date" placeholder="Check Out Date"  autocomplete="off">
					</div>
					<div class="search_fields">
						<input type="text" class="float" id="min_price" name="min_price" placeholder="Min. Price"  autocomplete="off">

						<hr class="field_sep float"/>

						<input type="text" class="float" id="max_price" name="max_price" placeholder="Max. price"  autocomplete="off">
					</div>
					<input type="text" id="keywords" name="keywords" placeholder="Keywords"  autocomplete="off">
					<input type="submit" id="submit_search" name="submit_search"/>
				</form>
			</div>
		</div><!--  end advanced search section  -->
	</section><!--  end search section  -->


	<section class="listings">
		<div class="wrapper">
			<h2>Deep House Classics</h2>
			<ul class="properties_list">
				<li>
					<a href="#">
						<img src="assets/img/vinyl2.jpg" alt="" title="" class="property_img"/>
					</a>
					<span class="price">$7.99</span>
					<div class="property_details">
						<h1>
							<a href="#">Mike GRANT/THEO PARRISH
							</br></a>
						</h1>
						<h2>Moods & Grooves Classics V 5 </br>
						<span class="property_size">Format: limited red vinyl 12" 
						</br> Cat: MG 050 </br>
						Released: 04 Mar 15 </br>
						Genre: Deep House</span></h2>
					</br>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="assets/img/vinyl1.jpg" alt="" title="" class="property_img"/>
					</a>
					<span class="price">$6.99</span>
					<div class="property_details">
						<h1>
							<a href="#">Theo PARRISH</a>
						</h1>
						<h2>Overyohead </br>Sound Signature US
							</br><span class="property_size">Format: 12" repress</br>
						Cat: SS 006 </br>
						Released: 27 Jan 16 </br>
						Genre: Deep House</span></h2>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="assets/img/vinyl3.jpg" alt="" title="" class="property_img"/>
					</a>
					<span class="price">$7.99</span>
					<div class="property_details">
						<h1>
							<a href="#">Kerri Chandler </a>
						</h1>
						<h2>The Mood EP (remastered) </br>Nervous Records
							</br><span class="property_size">Format: 12" repress</br>
						Cat: NE 20136 </br>
						Released: 29 Jan 16 </br>
						Genre: Deep House</span></h2>
					</div>
				</li>
			</ul>
			<div class="more_listing">
				<a href="#" class="more_listing_btn">View More Deep House</a>
			</div>
		</div>
	</section>	<!--  end listing section  -->

	<ng-view></ng-view>

	<footer>
		<div class="wrapper footer">
			<ul>
				<!-- <li class="links">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Policy</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">Appartements</a></li>
						<li><a href="#">Houses</a></li>
						<li><a href="#">Villas</a></li>
						<li><a href="#">Mansions</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">New York</a></li>
						<li><a href="#">Los Anglos</a></li>
						<li><a href="#">Miami</a></li>
						<li><a href="#">Washington</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li> -->

				<li class="about">
					
					<ul>
						<li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
						<li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
						<li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="copyrights wrapper">
			Copyright © 2015 <a href="http://pixelhint.com" target="_blank" class="ph_link" title="Download more free Templates">Pixelhint.com</a>. All Rights Reserved.
		</div>
	</footer><!--  end footer  -->
	
</body>
