<body>

<section class="hero">
		<header>
			<div class="wrapper">
				<a href="#"><img src="assets/img/logo.png" class="logo" alt="" title=""/></a>
				<a href="#" class="hamburger"></a>
				
				<nav>
					<ul>
						<li><a ui-sref="vinyl">Vinyl</a></li>
						<li><a ui-sref="about_us">About</a></li>
						<li><a ui-sref="contact_us">Contact</a></li>
						<li><a ui-sref="cart" class="cartlogo"><i class="fa fa-shopping-cart"></i></a></li>
					</ul>
				</nav>
			</div>
		</header>

<!-- 	 end header section -->
			<section class="caption">
				<h2 class="caption">we got the music</h2>
				<h3 class="properties">House - Techno - Obscure Shit </h3>
			</section>
	</section>

	<!--  end hero section  -->


<footer>
		<div class=" footer">
					
					<ul>
						<li><p>460 King St. West, Toronto, Ontario</p></li>
						<li><p>info@ryansrecords.com</p></li>
						<li><p>Copyright © 2015 Ryan Records All Rights Reserved.</p></li>
						<li><a target="_blank" class="ph_link" ui-sref="auth">Admin</a></li>
					</ul>
		</div>
		
	</footer>

	<!--  end footer  -->
	
</body>


