<body>

<section class="hero">
		<header>
			<div class="wrapper">
				<a href="#"><img src="assets/img/logo.png" class="logo" alt="" title=""/></a>
				<a href="#" class="hamburger"></a>
				
				<nav>
					<ul>
						<li><a ui-sref="vinyl">Vinyl</a></li>
						<li><a ui-sref="about_us">About</a></li>
						<li><a ui-sref="contact_us">Contact</a></li>
						<li><a ui-sref="cart" class="cartlogo"><i class="fa fa-shopping-cart"></i></a></li>
					</ul>
				</nav>
			</div>
		</header>

<!-- 	 end header section -->
			<section class="caption">
				<h2 class="caption">we got the music</h2>
				<h3 class="properties">House - Techno - Obscure Shit </h3>
			</section>
	</section>

	<!--  end hero section  -->

	<!--start of hardcoded products -->

	<section class="listings">
		<div class="wrapper">

			<div class="wrapper">
			<h1>Coming Soon</h1>
		<div class="row">
					<div class="col-md-4" "col-xs-12">
						<p><b>Kanye West</b></p>
						<p><em>The life of Ppablo</em></p>
						<img src="assets/img/Kanye.jpg" width="300" height="300">
						<br>
						<br>
					</div>
					<div class="col-md-4" "col-xs-12">
						<p><b>Anvil</b></p>
						<p><em>Anvil is Avnil</em></p>
						<img src="assets/img/anvil.jpg" width="300" height="300">
						<br>
						<br>
					</div>
					<div class="col-md-4" "col-xs-12">
						<p><b>Gwen Stefani</b></p>
						<p><em>This Is What The Truth Feels Like<em></p>
						<img src="assets/img/gwen.jpg" width="300" height="300">
						<br>
						<br>
					</div>
				</div>
			</div>
			
			<h1>This months reccomendations</h1>
			<div class="row">
					<div class="col-md-4" "col-xs-12">
						<p><b>Arthur Russell</b></p>
						<p><em>The Sleeping Bag Sessions</em></p>
						<img src="http://www.soundstagedirect.com/media/ss_size1/arthur_russell_the_sleeping_bag_sessions.jpg" width="300" height="300">
						<br>
						<br>
					</div>
					<div class="col-md-4" "col-xs-12">
						<p><b>Yellow Magic Orchestra</b></p>
						<p><em>Today</em></p>
						<img src="http://www.soundstagedirect.com/media/ss_size1/yellow_magic.jpg" width="300" height="300">
						<br>
						<br>
					</div>
					<div class="col-md-4" "col-xs-12">
						<p><b>Floating Points</b></p>
						<p><em>Elaenia</em></p>
						<img src="http://www.soundstagedirect.com/media/ss_size1/floatingpoints.jpg" width="300" height="300">
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>

		<div class="wrapper">
			<h1>Official Merchandise</h1>
		<div class="row">
					<div class="col-md-4" "col-xs-12">
						<p><b>Ryans Records Offical T-Shirt</b></p>
						<p><em>White T-shirt</em></p>
						<img src="assets/img/tshirt1.png" width="300" height="300">
						<br>
						<br>
					</div>
					<div class="col-md-4" "col-xs-12">
						<p><b>Ryans Records Offical T-Shirt</b></p>
						<p><em>Black T-shirt</em></p>
						<img src="assets/img/tshirt2.png" width="300" height="300">
						<br>
						<br>
					</div>
					<div class="col-md-4" "col-xs-12">
						<p><b>Ryans Records Mug</b></p>
						<p><em>Mug for Mugs!/em></p>
						<img src="assets/img/mug.png" width="300" height="300">
						<br>
						<br>
					</div>
				</div>
			</div>

		
	</section>
<footer>
		<div class=" footer">
					
					<ul>
						<li><p>460 King St. West, Toronto, Ontario</p></li>
						<li><a href="mailto:someone@example.com?Subject=Hey%20Ryan%20Whats%20Up" target="_top"><p>info@ryansrecords.com</p></a></li>
						<li><p>Copyright © 2015 Ryan Records All Rights Reserved.</p></li>
						<li><a target="_blank" class="ph_link" ui-sref="auth">Admin</a></li>
					</ul>
		</div>
		
	</footer>

	<!--  end footer  -->
	
</body>


