Product Management Page

link to add item
ng-repeat of products (link to edit on each item, link to delete on each item)
logout button





<section id="admin" class="clearfix">
	<aside class="nav-panel">
		<h3>Admin Panel</h3>
		<ul>
			<li><a ui-sref="admin.dash">Products</a></li>
			<li><a ui-sref="admin.add_product">Add Product</a></li>
			<li><a ng-click="ctrl.logout()">Log Out</a></li>
		</ul>
	</aside>

	<article class="main-content">
		<div ui-view=""></div>
	</article>
</section>





<div ng-show="ctrl.is_products">
	<table class="products-list table">
		<tr>
			<th>Category</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="product in ctrl.products">
			<td>{{product.category}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.quantity}}</td>
			<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
			<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
		</tr>
	</table>
</div>