/*Vinyl*/

.hero{
    width: 100%;
    height: 500px;
    position: relative;
    background: url('../../img/hero.jpg') no-repeat bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}