/*Vinyl partial*/

.herovinyl{
    width: 100%;
    height: 400px;
    position: relative;
    background: url('../img/vinylheroimage.jpg') no-repeat bottom center;
    background-size: cover;
    margin-bottom: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.herovinyl .caption, .heroaboutus .caption, .herocontact .caption{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
}

.herovinyl .caption h2, .heroaboutus .caption h2, .herocontact .caption h2{
    color: #fff;
    font-family: "impact_label_reversedregular";
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
}

.herovinyl .caption h3, .heroaboutus .caption h3, .herocontact .caption h3{
    color: #fff;
    font-family: "impact_label_reversedregular";
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}

/*aboutus partial*/

.heroaboutus{
    width: 100%;
    height: 400px;
    position: relative;
    background: url('../img/aboutushero.jpg') no-repeat bottom center;
    background-size: cover;
    margin-bottom: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*contact partial*/

.herocontact{
    width: 100%;
    height: 400px;
    position: relative;
    background: url('../img/contacthero.jpg') no-repeat bottom center;
    background-size: cover;
    margin-bottom: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


#map p {
		position: relative;
        width: 500px;
        height: 400px;
        background-color: #CCC;}
        


#map-container p {
	font-family: "impact_label_reversedregular";
}

#map-container {
	float: right;
	}

#shop-image{
	width: 100%;
	height: 500px;
	background: url('../img/aboutushero.jpg') no-repeat bottom center;
    background-size: cover;

}

#pformat p{

	font-family: "impact_label_reversedregular";
 
}




